
body {
    background: url('https://i.imgur.com/Nbi7bYI.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.button {
    border-radius: 8px;
    background-color: #0094ff;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
}

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button:hover span {
        padding-right: 25px;
    }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }

.headerText {
    font-family: 'Comic Sans MS';
}


.imageResize {
    max-width: 250px;
    max-height: 300px;
}

.searchField{
    border-radius:10px;
}

.previous {
    background-color: #f1f1f1;
    color: black;

   
}
     .previous:hover{
    color:yellow;
   }
.next {
    background-color: #4CAF50;
    color: white;
    
}
    .next:hover{
        color:blue;
    }

.menuButton {
    border-radius: 8px;
    background-color: #cc66ff;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    align-content: flex-end;
}

    .menuButton span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .menuButton span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .menuButton:hover span {
        padding-right: 25px;
    }

        .menuButton:hover span:after {
            opacity: 1;
            right: 0;
        }

.menuListItem {
    font-family: 'Comic Sans MS';
    color:blueviolet;
    
    
}
    .menuListItem:hover {
        color:#404040;
    }

.articleText{
    font-style:italic;
    color: wheat;
}
