@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "Learn about HealthyApp";
}

<div class="row">

    <div style="float:left;margin-right:20px;margin-bottom:20px;">

        <h2 class="headerText">@ViewData["Title"]</h2>
        <h3 class="headerText">@ViewData["Message"]</h3>
        <p class="headerText">Watch our latest video.</p>
        <iframe width="854" height="480" src="https://www.youtube.com/embed/M5nDAV_ZgmQ" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>

    <p class="headerText articleText" style="clear:both">

        HealthyApp, in collaboration with the University of California, Berkeley, School of Public Health, is the leading online resource for evidence-based wellness information. We are committed to providing positive health and medical tips to help you make decisions that improve your well being, both in mind and in body.
        Since 1984, our partner, the UC Healty Letter, has been read by millions of subscribers. This monthly letterhas been rated No. 1 byU.S. News & World Report, Money Magazine, and theWashington Post for its “brisk,” “reasoned” coverage of health issues.
    </p>
</div>