@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <ul>

            <li><a class="btn btn-default" href="/diets/all">Diets</a>  </li>
            <li><a class="btn btn-warning"  href="/calculator/calculate">BMICalculator</a></li>

        </ul>
    </div>
   
   
</div>

